footer {
margin-top: $global-margin;
  padding-top: $global-padding;
  $text-color: $tan-1;
  $bg-color: $tan-4;
  /*color: lighten($tan-4, 40%);*/
  color: $text_color;
  background: $bg-color;
  a {
  float:right;
  }
  svg { 
    width: 100%;
    height:auto;
    * {

      fill: $text-color;
      #Oval,
      #Oval use {
        stroke: $text-color;
      }
  } }
  
}
.sub-footer {
  p {
    margin:0;
    
  }
  padding: $global-padding;
  background: darken($tan-4, 10%);
  
}
 .footer-logo svg {

 
   width: 9rem;
 
 }
 #prov_govt {
 text-align: center;
 }
 #museum {
 text-align: right;
 }
 #upei_logo svg {
 padding-top: $global-padding;
   width: 11rem;
 
 }
